/* import config and responsive */

@import conf
@import resp

body
  font: $font-stack
  background-color: #FFF
  margin-top: 1.7rem !important

p
  font-size: 16px
  font-weight: lighter
  line-height: 32px
  color: $text-color
  -webkit-font-smoothing: antialiased
  speak: none

.main-container
  margin: 0 auto
  max-width: 1440px
  padding-left: 25px
  padding-right: 25px

/* Header */

.header-logo
  display: flex
  align-content: center
  justify-content: center
  margin-right: 50px

/* Main navigation */

.desk-menu
  display: flex !important
  justify-content: flex-end
  align-items: center

ul
  display: flex
  list-style-type: none
  margin: 0
  padding: 0
  li
    a
      padding-left: 25px
      font-size: 18px
      text-transform: uppercase
      font-weight: 400
      color: $darkgrey
    a:hover
      text-decoration: underline

/* Box headers */

.header-box
  padding: $margin-medium
  p
    @extend .header-box-title

.box-darkgrey
  background-color: $darkgrey

.box-green
  background-color: $green

/* Box content */

.content-box
  padding: 50px
  background-color: #FFF
  p
    padding-bottom: 25px

/* Components */

.main-button
  background-color: $green
  color: white
  padding: 15px 40px
  text-transform: uppercase
  font-weight: 500
  &:hover
    background-color: $light-grey
    border-style: solid
    border-color: $green
    border-width: 1px
    color: $green
  &:last-child
    margin-left: 20px
