/* import config and responsive */
/* Reset */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.section {
  padding: 1.7rem 1.5rem !important;
  background-color: transparent !important; }

/* Fonts */
/* Fonts responsive */
/* Main colors */
/* Margins */
/* Links */
a {
  color: #237861; }

a:hover {
  text-decoration: underline; }

/* Extensions */
.header-main {
  font-weight: bold;
  color: #383838; }

.header-box-title, .header-box p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px; }

/* Color Extensions */
.text-header-color p {
  color: #FFF; }

.text-darkgrey p {
  color: #383838; }

.background-image {
  background: url(http://www.nmgncp.com/data/out/206/5407245-kitten-desktop-wallpaper-1920x1080.jpeg);
  background-position: 0px 90px;
  background-repeat: no-repeat; }

.background-grey {
  background-color: #F2F2F2; }

/* Margin settings /* */
.flex-columns {
  display: flex; }

.left-margin {
  margin-left: 50px; }

.right-margin {
  margin-right: 50px; }

/* Responsive settings /* */
.resp-menu {
  display: none;
  /* Usable variables */ }

/* Reset */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.section {
  padding: 1.7rem 1.5rem !important;
  background-color: transparent !important; }

/* Fonts */
/* Fonts responsive */
/* Main colors */
/* Margins */
/* Links */
a {
  color: #237861; }

a:hover {
  text-decoration: underline; }

/* Extensions */
.header-main {
  font-weight: bold;
  color: #383838; }

.header-box-title, .header-box p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px; }

/* Color Extensions */
.text-header-color p {
  color: #FFF; }

.text-darkgrey p {
  color: #383838; }

.background-image {
  background: url(http://www.nmgncp.com/data/out/206/5407245-kitten-desktop-wallpaper-1920x1080.jpeg);
  background-position: 0px 90px;
  background-repeat: no-repeat; }

.background-grey {
  background-color: #F2F2F2; }

/* Margin settings /* */
.flex-columns {
  display: flex; }

.left-margin {
  margin-left: 50px; }

.right-margin {
  margin-right: 50px; }

/* Responsive settings /* */
.resp-menu {
  display: none;
  /* Usable variables */ }

/* Responsive - mobile */
@media only screen and (max-width: 765px) {
  .section {
    padding: 1.5rem 1.5rem !important; }

  .resp-menu {
    display: block; }

  .desk-menu {
    display: none !important; }

  .left-margin {
    margin-left: 0px !important; }

  .right-margin {
    margin-right: 0px !important; }

  .content-box {
    padding: 0px !important;
    margin-top: 25px; }

  .header-logo {
    margin-right: 0px !important; }

  .header-box {
    padding: 25px !important; }
    .header-box p {
      font-size: 23px; } }
/* Top properties */
body {
  font: Roboto, sans-serif;
  background-color: #FFF;
  margin-top: 1.7rem !important; }

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 32px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  speak: none; }

.main-container {
  margin: 0 auto;
  width: 100%; }

.content-container {
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto; }

/* Header */
.header-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 50px; }

.main-content {
  width: 100%; }

/* Form components */
.login {
  display: flex;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  min-width: 65%;
  font-size: 16px;
  color: #a0a0a0;
  font-style: italic;
  background-color: #f5f5f5;
  border: solid 1px #e1e1e1; }

/* Main navigation */
.desk-menu {
  display: flex !important;
  justify-content: flex-end;
  align-items: center; }

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li a {
    padding-left: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #383838; }
  ul li a:hover {
    text-decoration: underline; }

/* Box headers */
.header-box {
  padding: 50px; }

.box-darkgrey {
  background-color: #383838; }

.box-green {
  background-color: #237861; }

/* Box content */
.content-box {
  padding: 50px;
  background-color: #FFF; }
  .content-box p {
    padding-bottom: 25px; }
    .content-box p:last-child {
      padding-bottom: 0px; }

.margin {
  margin-bottom: 25px; }

/* Box Anslagstavlan och Kontakta oss */
bold {
  font-weight: bold;
  color: #383838; }

box-header {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 25px !important; }

.contact-item {
  flex: 1; }
  .contact-item:last-child {
    text-align: right; }
  .contact-item p {
    display: block;
    padding-bottom: 0px !important; }
    .contact-item p:first-child {
      padding-top: 25; }

.news-item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dfdfdf; }
  .news-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }

.news-text {
  display: inline; }

/* Components */
.main-button {
  float: left;
  background-color: #237861;
  color: white;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  transition: color 0.3s ease-out, background-color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-in;
  -moz-transition: color 0.3s ease-out, background-color 0.3s ease-in; }
  .main-button:hover {
    background-color: #F2F2F2;
    color: #237861; }
  .main-button:last-child {
    margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
