/* import config and responsive */

@import conf
@import resp

body
  font: $font-stack
  background-color: #FFF

p
  font-size: 16px
  font-weight: lighter
  line-height: 32px
  color: $text-color
  -webkit-font-smoothing: antialiased
  speak: none


.main-container
  margin: 0 auto
  max-width: 1440px
  padding-left: 25px
  padding-right: 25px

/* Header */

.header-logo
  margin-right: 50px
  img
    margin: 0 auto
    display: block

/* Main navigation */

.desk-menu
  display: flex !important
  justify-content: flex-end
  align-items: center

ul
  display: flex
  list-style-type: none
  margin: 0
  padding: 0
  //overflow: hidden
  li
    a
      padding-left: 25px
      font-size: 18px
      text-transform: uppercase
      font-weight: 400
      color: $darkgrey
    a:hover
      text-decoration: underline

/* Box headers */

.header-box
  padding: $margin-medium
  p
    @extend .header-box-title

.box-darkgrey
  background-color: $darkgrey

.box-green
  background-color: $green

/* Box content */

.content-box
  padding: 50px
  background-color: #FFF
  p
    padding-bottom: 25px
