/* import config and responsive */
/* Reset */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.section {
  padding: 1.7rem 1.5rem !important; }

/* Fonts */
/* Fonts responsive */
/* Main colors */
/* Margins */
/* Extensions */
.header-main {
  font-weight: bold;
  color: #383838; }

.header-box-title, .header-box p {
  font-weight: bold;
  color: #FFF;
  font-size: 28px; }

/* Margin settings /* */
.left-margin {
  margin-left: 50px; }

.right-margin {
  margin-right: 50px; }

/* Responsive settings /* */
.resp-menu {
  display: none;
  /* Usable variables */ }

/* Reset */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.section {
  padding: 1.7rem 1.5rem !important; }

/* Fonts */
/* Fonts responsive */
/* Main colors */
/* Margins */
/* Extensions */
.header-main {
  font-weight: bold;
  color: #383838; }

.header-box-title, .header-box p {
  font-weight: bold;
  color: #FFF;
  font-size: 28px; }

/* Margin settings /* */
.left-margin {
  margin-left: 50px; }

.right-margin {
  margin-right: 50px; }

/* Responsive settings /* */
.resp-menu {
  display: none;
  /* Usable variables */ }

/* Responsive - mobile */
@media only screen and (max-width: 765px) {
  .section {
    padding: 1.5rem 1.5rem !important; }

  .resp-menu {
    display: block; }

  .desk-menu {
    display: none !important; }

  .left-margin {
    margin-left: 0px !important; }

  .right-margin {
    margin-right: 0px !important; }

  .content-box {
    padding: 0px !important;
    margin-top: 25px; }

  .header-logo {
    margin-right: 0px !important; }

  .header-box {
    padding: 25px !important; }
    .header-box p {
      font-size: 23px; } }
body {
  font: Roboto, sans-serif;
  background-color: #FFF;
  margin-top: 1.7rem !important; }

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 32px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  speak: none; }

.main-container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px; }

/* Header */
.header-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 50px; }

/* Main navigation */
.desk-menu {
  display: flex !important;
  justify-content: flex-end;
  align-items: center; }

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li a {
    padding-left: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #383838; }
  ul li a:hover {
    text-decoration: underline; }

/* Box headers */
.header-box {
  padding: 50px; }

.box-darkgrey {
  background-color: #383838; }

.box-green {
  background-color: #237861; }

/* Box content */
.content-box {
  padding: 50px;
  background-color: #FFF; }
  .content-box p {
    padding-bottom: 25px; }

/* Components */
.main-button {
  background-color: #237861;
  color: white;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 500; }
  .main-button:hover {
    background-color: #F2F2F2;
    border-style: solid;
    border-color: #237861;
    border-width: 1px;
    color: #237861; }
  .main-button:last-child {
    margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
